# ETL

In [16]:
import pandas as pd
import os
from georef import add_unidades_territoriales_to_df

## Carga de inputs

In [17]:
#file
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

## Exporacion

In [18]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Derecho,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Derecho,Abogacia
2,Abogado - MD,Derecho,Abogacia
3,Abogado Especialista en Administracion de Just...,Derecho,Abogacia
4,Abogado especialista en Asesoramiento de Empresas,Derecho,Abogacia
5,Abogado Especialista en Asesoria Juridica de E...,Derecho,Abogacia
6,Abogado especialista en Derecho Administrativo...,Derecho,Abogacia
7,Abogado especialista en Derecho Ambiental,Derecho,Abogacia
8,Abogado especialista en Derecho de Alta Tecnol...,Derecho,Abogacia
9,Abogado especialista en Derecho Penal,Derecho,Abogacia

In [19]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_provincia,interíor_caba,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,...,egresados_varones,egresados_mujeres,tasa_de_inscripcion_total,tasa_de_graduacion_total,tasa_de_inscripcion_varon,tasa_de_graduacion_varon,tasa_de_inscripcion_mujer,tasa_de_graduacion_mujer,tasa_de_inscripcion_mujer_hombre,tasa_de_graduacion_mujer_hombre
0,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,11.0,NaN,0.277778,0.076389,0.675000,1.000000,0.325000,0.000000,0.481481,0.000000
1,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,1.0,1.0,0.000000,0.666667,0.000000,0.500000,0.000000,0.500000,0.000000,1.000000
2,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,10.0,5.0,0.188679,0.283019,0.800000,0.666667,0.200000,0.333333,0.250000,0.500000
3,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,NaN,NaN,0.277778,0.000000,0.700000,0.000000,0.300000,0.000000,0.428571,0.000000
5,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Ciencias Agrarias,Facultad de Ciencias Agrarias,Administracion de Empresas Agropecuarias,...,6.0,1.0,0.000000,0.166667,0.000000,0.857143,0.000000,0.142857,0.000000,0.166667
6,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Ciencias Agrarias,Facultad de Ciencias Agrarias,Produccion e Ingeniería Agropecuaria,...,13.0,8.0,0.260000,0.060000,0.725275,0.619048,0.274725,0.380952,0.378788,0.615385
7,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Ciencias Agrarias,Facultad de Ciencias Agrarias,Produccion e Ingeniería Agropecuaria,...,NaN,2.0,0.220126,0.012579,0.771429,0.000000,0.228571,1.000000,0.296296,0.000000
8,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Ciencias Agrarias,Facultad de Ciencias Agrarias,Tecnologia e Ingeniería en Alimentos,...,9.0,18.0,0.209459,0.182432,0.225806,0.333333,0.774194,0.666667,3.428571,2.000000
9,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Ciencias Agrarias,Facultad de Ciencias Agrarias,Tecnologia e Ingeniería en Alimentos,...,1.0,7.0,0.000000,0.000000,0.000000,0.125000,0.000000,0.875000,0.000000,7.000000

In [20]:
df_universidades.head(10)

,institucion_nombre,institucion_direccion,api,coordenadas,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Universidad CAECE,Av. de Mayo 866,http://apis.datos.gob.ar/georef/api/direccione...,"-34.608865810462795,-58.378716306442456",-34.608866,-58.378716,2007,Comuna 1,-34.608866,-58.378716,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
1,Universidad Nacional de Córdoba,Av. Haya de la Torre s/n,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4354809,-64.1877589",-31.435481,-64.187759,14014,Capital,-31.435481,-64.187759,140077.0,Córdoba,14,Córdoba
2,Universidad Nacional de Rosario,Maipú 1065,http://apis.datos.gob.ar/georef/api/direccione...,"-32.950309649805945,-60.636126952347716",-32.950310,-60.636127,82084,Rosario,-32.950310,-60.636127,NaN,NaN,82,Santa Fe
3,Universidad Nacional de Río Cuarto,Ruta Nac. 36 - Km. 601,http://apis.datos.gob.ar/georef/api/direccione...,"-33.084594014186514,-64.3349444221352",-33.084594,-64.334944,14098,Río Cuarto,-33.084594,-64.334944,140861.0,Río Cuarto,14,Córdoba
4,Universidad Nacional de San Juan,Mitre 396,http://apis.datos.gob.ar/georef/api/direccione...,"-31.5354691,-68.5412352,15",-31.535469,-68.541235,70028,Capital,-31.535469,-68.541235,700028.0,San Juan,70,San Juan
5,Universidad Nacional de San Luis,Ejército de los Andes 950,http://apis.datos.gob.ar/georef/api/direccione...,"-33.2962223,-66.3441194",-33.296222,-66.344119,74056,Juan Martín de Pueyrredón,-33.296222,-66.344119,740133.0,San Luis,74,San Luis
6,Universidad Nacional del Comahue,Av. Santa Fe 1845,http://apis.datos.gob.ar/georef/api/direccione...,"-34.59583822943477,-58.393932130303796",-34.595838,-58.393932,2014,Comuna 2,-34.595838,-58.393932,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
7,Universidad Nacional del Sur,Av. Alem 1253,http://apis.datos.gob.ar/georef/api/direccione...,"-38.67866305629395,-62.29611089500422",-38.678663,-62.296111,6056,Bahía Blanca,-38.678663,-62.296111,60056.0,Bahía Blanca,06,Buenos Aires
8,Universidad de Buenos Aires,Viamonte 430,http://apis.datos.gob.ar/georef/api/direccione...,"-34.59971093266858,-58.37308898582941",-34.599711,-58.373089,2007,Comuna 1,-34.599711,-58.373089,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
9,Universidad Católica de Salta,Av. Presidente Roque Sáenz Peña 950,http://apis.datos.gob.ar/georef/api/direccione...,"-24.7399552,-65.3940334",-24.739955,-65.394033,66028,Capital,-24.739955,-65.394033,660063.0,Salta,66,Salta

## Calculo evolucion de genero en carreras

In [21]:
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [22]:
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_provincia                   True
interíor_caba                           True
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_nombre                         False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
area_de_estudio                        False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
tasa_de_inscripcion_total              False
tasa_de_graduacion_total               False
tasa_de_inscripcion_varon              False
tasa_de_graduacion_varon               False
tasa_de_inscripcion_mujer              False
tasa_de_graduacion_mujer               False
tasa_de_inscripcion_mujer_hombre       False
tasa_de_graduacion_mujer_hombre        False
carrera                                False
carrera_grupo                           True
Carrera_normalizada                     True
dtype: bool

In [23]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()

False    60371
True        60
Name: carrera_grupo, dtype: int64

In [24]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [25]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [26]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()
#df_evolucion_carrera = df_evolucion_carrera.drop("index",1)

In [27]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2010,Arquitectura,70587.0,26843.0,25641.0,13655.0,5266.0,5240.0,3166.0,1121.0,1309.0
1,2010,Arte,84461.0,24721.0,35384.0,23097.0,7455.0,10122.0,2854.0,745.0,1321.0
2,2010,Deporte,2621.0,1557.0,1064.0,794.0,471.0,323.0,162.0,90.0,72.0
3,2010,Derecho,237773.0,87646.0,114635.0,56072.0,23004.0,27457.0,15903.0,5184.0,6912.0
4,2010,Economicas,401354.0,158885.0,184338.0,95385.0,41997.0,43894.0,25750.0,10380.0,11933.0
5,2010,Educacion,142273.0,35322.0,101339.0,43097.0,11735.0,29675.0,8569.0,1909.0,5994.0
6,2010,Exactas,43302.0,17651.0,20001.0,10271.0,4196.0,4876.0,2523.0,1008.0,1331.0
7,2010,Idiomas,13885.0,1909.0,9710.0,4055.0,665.0,2739.0,754.0,71.0,617.0
8,2010,Ingeniería,104596.0,81481.0,13967.0,22107.0,16686.0,3252.0,4556.0,3488.0,650.0
9,2010,Letras,340.0,71.0,269.0,76.0,21.0,55.0,17.0,1.0,16.0

In [28]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [29]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

## Grafico exploratorio

### carreras

In [53]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","carrera_nombre"]).sum()

In [54]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [55]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [56]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

In [34]:
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","institucion_nombre_new"]).sum()

In [35]:
df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad = df_evolucion_carrera.reset_index()

In [36]:
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total

In [37]:
df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)

In [38]:
df_universidades.head()

,institucion_nombre,institucion_direccion,api,coordenadas,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,Universidad CAECE,Av. de Mayo 866,http://apis.datos.gob.ar/georef/api/direccione...,"-34.608865810462795,-58.378716306442456",-34.608866,-58.378716,2007,Comuna 1,-34.608866,-58.378716,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
1,Universidad Nacional de Córdoba,Av. Haya de la Torre s/n,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4354809,-64.1877589",-31.435481,-64.187759,14014,Capital,-31.435481,-64.187759,140077.0,Córdoba,14,Córdoba
2,Universidad Nacional de Rosario,Maipú 1065,http://apis.datos.gob.ar/georef/api/direccione...,"-32.950309649805945,-60.636126952347716",-32.950310,-60.636127,82084,Rosario,-32.950310,-60.636127,NaN,NaN,82,Santa Fe
3,Universidad Nacional de Río Cuarto,Ruta Nac. 36 - Km. 601,http://apis.datos.gob.ar/georef/api/direccione...,"-33.084594014186514,-64.3349444221352",-33.084594,-64.334944,14098,Río Cuarto,-33.084594,-64.334944,140861.0,Río Cuarto,14,Córdoba
4,Universidad Nacional de San Juan,Mitre 396,http://apis.datos.gob.ar/georef/api/direccione...,"-31.5354691,-68.5412352,15",-31.535469,-68.541235,70028,Capital,-31.535469,-68.541235,700028.0,San Juan,70,San Juan

In [39]:
# chequea si hay instituciones faltantes para el merge
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

instituciones_en_universidades - instituciones_en_alumnos

{'Universidad Autónoma de Entre Ríos',
 'Universidad Favaloro',
 'Universidad Nacional de Entre Ríos',
 'Universidad Nacional de La Rioja',
 'Universidad Nacional de Rosario',
 'Universidad Nacional de Río Cuarto',
 'Universidad Nacional de Río Negro',
 'Universidad Nacional de Tierra del Fuego, Antártida e Islas del Atlántico Sur',
 'Universidad de la Fraternidad de Agrupaciones Santo Tomás de Aquino'}

In [40]:
df_universidades_merged = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_new", right_on="institucion_nombre")
df_universidades_merged.head()

,anio,institucion_tipo,institucion_provincia,interíor_caba,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_nombre,...,lat,lon,departamento_id,departamento_nombre,latitud,longitud,municipio_id,municipio_nombre,provincia_id,provincia_nombre
0,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,-34.614845,-58.366885,2007.0,Comuna 1,-34.614845,-58.366885,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
1,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,-34.614845,-58.366885,2007.0,Comuna 1,-34.614845,-58.366885,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
2,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,-34.614845,-58.366885,2007.0,Comuna 1,-34.614845,-58.366885,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
3,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,-34.614845,-58.366885,2007.0,Comuna 1,-34.614845,-58.366885,NaN,NaN,02,Ciudad Autónoma de Buenos Aires
4,2010,Universidad,Ciudad Autonoma de Buenos Aires,CABA,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Pontificia Universidad Católica Argentina Sant...,Facultad de Artes y Ciencias Musicales,Facultad de Artes y Ciencias Musicales,Musica,...,-34.614845,-58.366885,2007.0,Comuna 1,-34.614845,-58.366885,NaN,NaN,02,Ciudad Autónoma de Buenos Aires

In [41]:
df_evolucion_universidades = df_universidades_merged.groupby(["anio","provincia_id","carrera_grupo"]).sum()
df_evolucion_universidades = df_evolucion_universidades[variables]
df_evolucion_universidades = df_evolucion_universidades.reset_index()
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2010,02,Arquitectura,24121.0,3020.0,2998.0,5092.0,940.0,1003.0,982.0,121.0,125.0
1,2010,02,Arte,33871.0,3204.0,6311.0,8654.0,1027.0,2107.0,1432.0,186.0,458.0
2,2010,02,Deporte,313.0,129.0,184.0,130.0,41.0,89.0,29.0,11.0,18.0
3,2010,02,Derecho,63271.0,13030.0,14749.0,13848.0,3789.0,4448.0,6132.0,1112.0,1213.0
4,2010,02,Economicas,148518.0,47308.0,43079.0,36221.0,14286.0,12441.0,11696.0,4150.0,4109.0

In [42]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [43]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [44]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [45]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,estudiantes_grupo_pct
0,2010,02,Arquitectura,24121.0,3020.0,2998.0,5092.0,940.0,1003.0,982.0,121.0,125.0,0.124290,0.035826
1,2010,02,Arte,33871.0,3204.0,6311.0,8654.0,1027.0,2107.0,1432.0,186.0,458.0,0.186325,0.050308
2,2010,02,Deporte,313.0,129.0,184.0,130.0,41.0,89.0,29.0,11.0,18.0,0.587859,0.000465
3,2010,02,Derecho,63271.0,13030.0,14749.0,13848.0,3789.0,4448.0,6132.0,1112.0,1213.0,0.233108,0.093975
4,2010,02,Economicas,148518.0,47308.0,43079.0,36221.0,14286.0,12441.0,11696.0,4150.0,4109.0,0.290059,0.220590

In [46]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [47]:
##ETL Markers de universidades

In [48]:
def crear_universidad(mapa,latitud, longitud, universidad_nombre, carreras_grupos):
    """ Pone una universidad en el mapa con información en el marker.

    Args:
        latitud (float):
        longitud (float):
        universidad_nombre (str):
        carreras_grupos (list):
    """

In [49]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in set(grupos_carreras) if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [50]:
serie_lista_grupos = df_universidades_merged.groupby("institucion_nombre_new")["carrera_grupo"].apply(concatenate_map)
serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_new")["carrera_nombre"].apply(concatenate_map)

In [51]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)
df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [52]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)
#tasas de egresos pero no lineamente, buscar la formula, estandariza el año de duracion.