# ETL

In [1992]:
import pandas as pd
import os
from scripts.georef import add_unidades_territoriales_to_df

## Carga de inputs

In [1993]:
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

In [1994]:
# quitamos los datos del año 2010 ya que la UBA no entrega datos para este año
# si se desean incluir en en análisis tener en cuenta que va a haber una bajada en las cantidades totales para ese año, debido a eso
df_alumnos = df_alumnos[df_alumnos.anio != 2010]

## Exporacion

In [1995]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Juridicas,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Juridicas,Abogacia
2,Abogado - MD,Juridicas,Abogacia
3,Abogado (Plan 2017),Juridicas,Abogacia
4,Abogado Especialista en Administracion de Just...,Juridicas,Abogacia
5,Abogado especialista en Asesoramiento de Empresas,Juridicas,Abogacia
6,Abogado Especialista en Asesoria Juridica de E...,Juridicas,Abogacia
7,Abogado Especialista en Contratos y Derechos d...,Juridicas,Abogacia
8,Abogado especialista en Derecho Administrativo...,Juridicas,Abogacia
9,Abogado Especialista en Derecho Administrativo...,Juridicas,Abogacia

In [1996]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
7315,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,54.0,30.0,13.0,17.0,NaN,NaN,NaN,29.0,14.0,15.0
7316,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,10.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7317,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,39.0,23.0,10.0,13.0,49.0,23.0,26.0,6.0,4.0,2.0
7318,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,18.0,15.0,12.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7319,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,71.0,35.0,13.0,22.0,75.0,26.0,49.0,28.0,7.0,21.0
7320,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Estudios Internacionales,Privada,Posgrado,...,100.0,34.0,15.0,19.0,NaN,NaN,NaN,9.0,5.0,4.0
7321,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Licenciatura en Economia,Privada,Grado,...,49.0,42.0,28.0,14.0,117.0,82.0,35.0,36.0,24.0,12.0
7322,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Econometria,Privada,Posgrado,...,18.0,12.0,9.0,3.0,NaN,NaN,NaN,1.0,NaN,1.0
7323,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Economia,Privada,Posgrado,...,14.0,25.0,20.0,5.0,NaN,NaN,NaN,2.0,2.0,NaN
7324,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Historia,Departamento de Historia,Doctor en Historia,Privada,Posgrado,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [1997]:
df_universidades.head(10)

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,latitud_x,longitud_x,departamento_id_y,departamento_nombre_y,municipio_id_y,municipio_nombre_y,provincia_id_y,provincia_nombre_y,latitud_y,longitud_y
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,6238.0,Dolores,60238.0,Dolores,6.0,Buenos Aires,-36.449418,-57.768604
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucuman 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,2021.0,Comuna 3,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.602173,-58.397300
2,Instituto Tecnologico de Buenos Aires,Instituto Tecnologico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,2007.0,Comuna 1,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.602834,-58.368183
3,Instituto Universitario Aeronautico,Instituto Universitario Aeronautico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014.0,Capital,140077.0,Córdoba,14.0,Córdoba,-31.433717,-64.277978
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,2084.0,Comuna 12,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.554718,-58.497288
5,Instituto Universitario de Ciencias Biomedicas...,Instituto Universitario de Ciencias Biomedicas...,Naciones Unidas 400-440,NaN,"-31.4421202,-64.2033758",NaN,NaN,NaN,NaN,NaN,...,-31.442120,-64.203376,14014.0,Capital,140077.0,Córdoba,14.0,Córdoba,-31.442120,-64.203376
6,Instituto Universitario de Ciencias de la Salu...,Instituto Universitario de Ciencias de la Salu...,Av. Gral. Las Heras 1907,NaN,"-34.5951617,-58.4021427",NaN,NaN,NaN,NaN,NaN,...,-34.595162,-58.402143,2014.0,Comuna 2,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.595162,-58.402143
7,Instituto Universitario de Gendarmeria Nacional,Instituto Universitario de Gendarmeria Nacional,Av. Paseo Colon 533,NaN,"-34.6142528,-58.371724",NaN,NaN,NaN,NaN,NaN,...,-34.614253,-58.371724,2007.0,Comuna 1,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.614253,-58.371724
8,Instituto Universitario de la Policia Federal ...,Instituto Universitario de la Policia Federal ...,Rosario 532,NaN,"-34.6196133,-58.4382653",NaN,NaN,NaN,NaN,NaN,...,-34.619613,-58.438265,2042.0,Comuna 6,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.619613,-58.438265
9,Instituto Universitario de Salud Mental de la ...,Instituto Universitario de Salud Mental de la ...,Baez 248,NaN,"-34.567895,-58.4361568",NaN,NaN,NaN,NaN,NaN,...,-34.567895,-58.436157,2098.0,Comuna 14,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.567895,-58.436157

## Calculo evolucion de genero en carreras

In [1998]:
#El archivo alumnos es el que entrega el ministerio
#En el archivo carreras realizamos nuestro mapeo asignandole a cada titulo un grupo (Juridicas, Exactas, Naturales, etc) y un nombre normalizado 
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [1999]:
#Incluimos esta validacion aqui para asegurarnos de que no queden carreras sin mappear
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
carrera                                False
carrera_grupo                          False
Carrera_normalizada                     True
dtype: bool

## Validacion y solucion de inconsistencias

In [2000]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()
# No debería haber Nulls en True ya que eso quiere decir que no se pudo matchear el nombre del titulo entre alumnos.csv y carreras.csv
# Este caso solo debería darse si, por ejemplo, se agrega un nuevo año con carreras "nuevas" o con nombres un poco diferentes a los que teníamos hasta el momento

False    65662
Name: carrera_grupo, dtype: int64

In [2001]:
#Si hubiera inconsistencias las guardamos en este archivo para analizar más comodamente
nulos = df_alumnos_merged[df_alumnos_merged.carrera_grupo.isnull()]
nulos.to_csv("data/validacion/nulls-revisar.csv", encoding = "UTF8", index = False)
titulos_nuevos = pd.DataFrame(data=nulos.carrera_titulo.unique())
titulos_nuevos.to_csv("data/validacion/titulos_nuevos.csv", encoding = "UTF8", index = False)

In [2002]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [2003]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [2004]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()

In [2005]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,Arquitectura y Urbanismo,60303.0,31217.0,29086.0,9743.0,4859.0,4884.0,3064.0,1412.0,1652.0
1,2011,Artes,53170.0,22164.0,31006.0,13305.0,6016.0,7289.0,1418.0,503.0,915.0
2,2011,Comunicacion,113474.0,40764.0,72710.0,25473.0,9914.0,15559.0,7104.0,2141.0,4963.0
3,2011,Diseño,52552.0,18574.0,33978.0,11127.0,3813.0,7314.0,2826.0,820.0,2006.0
4,2011,Economicas,318405.0,149696.0,168709.0,67062.0,33017.0,34045.0,19059.0,8970.0,10089.0
5,2011,Educacion,139802.0,32933.0,106869.0,42465.0,10907.0,31558.0,8611.0,1814.0,6797.0
6,2011,Exactas,23899.0,11515.0,12384.0,5491.0,2516.0,2975.0,1479.0,633.0,846.0
7,2011,"Hoteleria, Gastronomia y Turismo",25790.0,8221.0,17569.0,6917.0,2395.0,4522.0,1513.0,364.0,1149.0
8,2011,Informatica,163968.0,132685.0,31283.0,37090.0,30891.0,6199.0,7554.0,5702.0,1852.0
9,2011,Ingenieria,124298.0,101296.0,23002.0,25854.0,20815.0,5039.0,5885.0,4682.0,1203.0

In [2006]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [2007]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

In [2008]:
#Por nivel educativo y por gestion, por año
df_evolucion_grupo_nivel_gestion = df_alumnos_merged.groupby(["anio","carrera_grupo", "institucion_gestion", "carrera_titulo_nivel"]).sum()

df_evolucion_grupo_nivel_gestion = df_evolucion_grupo_nivel_gestion[variables]
df_evolucion_grupo_nivel_gestion = df_evolucion_grupo_nivel_gestion.reset_index()

df_evolucion_grupo_nivel_gestion["estudiantes_mujeres_pct"] = df_evolucion_grupo_nivel_gestion.estudiantes_mujeres/df_evolucion_grupo_nivel_gestion_modalidad.estudiantes_total
df_evolucion_grupo_nivel_gestion["inscripciones_mujeres_pct"] = df_evolucion_grupo_nivel_gestion.nuevos_inscriptos_mujeres/df_evolucion_grupo_nivel_gestion_modalidad.nuevos_inscriptos_total
df_evolucion_grupo_nivel_gestion["estudiantes_hombres_pct"] = df_evolucion_grupo_nivel_gestion.estudiantes_varones/df_evolucion_grupo_nivel_gestion_modalidad.estudiantes_total
df_evolucion_grupo_nivel_gestion.to_csv("data/output/evolucion_grupo_nivel_gestion.csv", encoding = "UTF8", index = False)
df_evolucion_grupo_nivel_gestion.head(10)

,anio,carrera_grupo,institucion_gestion,carrera_titulo_nivel,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct
0,2011,Arquitectura y Urbanismo,Estatal,Grado,49929.0,25789.0,24140.0,7407.0,3662.0,3745.0,2473.0,1135.0,1338.0,0.483487,0.505603,0.516513
1,2011,Arquitectura y Urbanismo,Estatal,Posgrado,1156.0,509.0,647.0,571.0,275.0,296.0,60.0,24.0,36.0,0.559689,0.518389,0.440311
2,2011,Arquitectura y Urbanismo,Estatal,Pregrado,200.0,174.0,26.0,62.0,53.0,9.0,31.0,18.0,13.0,0.130000,0.145161,0.870000
3,2011,Arquitectura y Urbanismo,Privada,Grado,8906.0,4707.0,4199.0,1675.0,862.0,813.0,491.0,233.0,258.0,0.471480,0.485373,0.528520
4,2011,Arquitectura y Urbanismo,Privada,Posgrado,112.0,38.0,74.0,28.0,7.0,21.0,8.0,1.0,7.0,0.660714,0.750000,0.339286
5,2011,Arquitectura y Urbanismo,Privada,Pregrado,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,NaN,NaN,NaN
6,2011,Artes,Estatal,Grado,45126.0,18417.0,26709.0,10380.0,4640.0,5740.0,795.0,241.0,554.0,139.837696,89.687500,96.424084
7,2011,Artes,Estatal,Posgrado,1160.0,371.0,789.0,401.0,121.0,280.0,50.0,17.0,33.0,0.017559,0.027142,0.008256
8,2011,Artes,Estatal,Pregrado,2174.0,1215.0,959.0,1016.0,572.0,444.0,193.0,98.0,95.0,0.826724,1.107232,1.047414
9,2011,Artes,Privada,Grado,3690.0,1614.0,2076.0,1427.0,639.0,788.0,190.0,70.0,120.0,13.393548,9.850000,10.412903

In [2009]:
#Por nivel educativo y por modalidad, por año
df_evolucion_grupo_nivel_modalidad = df_alumnos_merged.groupby(["anio","carrera_grupo", "carrera_titulo_nivel", "Modalidad"]).sum()

df_evolucion_grupo_nivel_modalidad = df_evolucion_grupo_nivel_modalidad[variables]
df_evolucion_grupo_nivel_modalidad = df_evolucion_grupo_nivel_modalidad.reset_index()

df_evolucion_grupo_nivel_modalidad["estudiantes_mujeres_pct"] = df_evolucion_grupo_nivel_modalidad.estudiantes_mujeres/df_evolucion_grupo_nivel_gestion_modalidad.estudiantes_total
df_evolucion_grupo_nivel_modalidad["inscripciones_mujeres_pct"] = df_evolucion_grupo_nivel_modalidad.nuevos_inscriptos_mujeres/df_evolucion_grupo_nivel_gestion_modalidad.nuevos_inscriptos_total
df_evolucion_grupo_nivel_modalidad["estudiantes_hombres_pct"] = df_evolucion_grupo_nivel_modalidad.estudiantes_varones/df_evolucion_grupo_nivel_gestion_modalidad.estudiantes_total
df_evolucion_grupo_nivel_modalidad.to_csv("data/output/evolucion_grupo_nivel_modalidad.csv", encoding = "UTF8", index = False)
df_evolucion_grupo_nivel_modalidad.head(10)

,anio,carrera_grupo,carrera_titulo_nivel,Modalidad,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct
0,2011,Arquitectura y Urbanismo,Grado,Presencial,58835.0,30496.0,28339.0,9082.0,4524.0,4558.0,2964.0,1368.0,1596.0,0.567586,0.615364,0.610787
1,2011,Arquitectura y Urbanismo,Posgrado,Presencial,1268.0,547.0,721.0,599.0,282.0,317.0,68.0,25.0,43.0,0.623702,0.555166,0.473183
2,2011,Arquitectura y Urbanismo,Pregrado,Presencial,200.0,174.0,26.0,62.0,53.0,9.0,32.0,19.0,13.0,0.130000,0.145161,0.870000
3,2011,Artes,Grado,Distancia,191.0,49.0,142.0,64.0,17.0,47.0,1.0,0.0,1.0,0.015944,0.028060,0.005502
4,2011,Artes,Grado,Presencial,48625.0,19982.0,28643.0,11743.0,5262.0,6481.0,984.0,311.0,673.0,255.741071,231.464286,178.410714
5,2011,Artes,Posgrado,Presencial,1180.0,382.0,798.0,416.0,127.0,289.0,51.0,18.0,33.0,inf,inf,inf
6,2011,Artes,Pregrado,Distancia,155.0,119.0,36.0,80.0,64.0,16.0,4.0,3.0,1.0,0.188482,0.250000,0.623037
7,2011,Artes,Pregrado,Presencial,3019.0,1632.0,1387.0,1002.0,546.0,456.0,378.0,171.0,207.0,0.030867,0.044203,0.036319
8,2011,Comunicacion,Grado,Distancia,1514.0,639.0,875.0,962.0,462.0,500.0,20.0,3.0,17.0,0.754310,1.246883,0.550862
9,2011,Comunicacion,Grado,Presencial,97849.0,35090.0,62759.0,19938.0,7668.0,12270.0,4864.0,1449.0,3415.0,404.896774,153.375000,226.387097

## Grafico exploratorio

### carreras

In [2010]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","Carrera_normalizada"]).sum()

In [2011]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [2012]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [2013]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

# Universidades

In [2014]:
import csv


# acá analizo la nueva clave "institucion_nombre_unidad_academica" para los casos en los que (como la UTN) hay diferentes sedes
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre_unidad_academica.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

# chequea si hay instituciones faltantes para el merge (no debería haber)
faltantes = (instituciones_en_alumnos-instituciones_en_universidades)

with open('data/validacion/universidades_faltantes.csv', mode='w', encoding = "UTF8") as faltantes_file:
    faltantes_writer = csv.writer(faltantes_file, delimiter=',')
    for universidad in faltantes:
        print(universidad)
        faltantes_writer.writerow([universidad])

In [2015]:
df_alumnos_por_universidad_geo = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_unidad_academica", right_on="institucion_nombre")

df_alumnos_por_universidad_geo.head(10)

,anio,institucion_tipo,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,latitud_x,longitud_x,departamento_id_y,departamento_nombre_y,municipio_id_y,municipio_nombre_y,provincia_id_y,provincia_nombre_y,latitud_y,longitud_y
0,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,44.467909,11.295508,NaN,NaN,NaN,NaN,NaN,NaN,44.467909,11.295508
1,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
2,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
3,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
4,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
5,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Estudios Internacionales,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
6,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Licenciatura en Economia,Privada,Grado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
7,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Econometria,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
8,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Economia,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939
9,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Historia,Departamento de Historia,Doctor en Historia,Privada,Posgrado,...,-34.547697,-58.448939,2091.0,Comuna 13,NaN,NaN,2.0,Ciudad Autónoma de Buenos Aires,-34.547697,-58.448939

In [2016]:
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

variables_alumnos_por_univ = ['anio','institucion_nombre_unidad_academica', 'lat', 'lon', 'provincia_id_y', "carrera_grupo", "carrera_titulo"] + variables
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo[variables_alumnos_por_univ]
df_alumnos_por_universidad_geo.rename(columns={'provincia_id_y':'provincia_id'}, inplace=True)
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

df_alumnos_por_universidad_geo["estudiantes_mujeres_pct"] = df_alumnos_por_universidad_geo.estudiantes_mujeres/df_alumnos_por_universidad_geo.estudiantes_total
#incriptas como predictor de composicion e interes.
df_alumnos_por_universidad_geo["inscripciones_mujeres_pct"] = df_alumnos_por_universidad_geo.nuevos_inscriptos_mujeres/df_alumnos_por_universidad_geo.nuevos_inscriptos_total
#agregar ratio de hombres
df_alumnos_por_universidad_geo["estudiantes_hombres_pct"] = df_alumnos_por_universidad_geo.estudiantes_varones/df_alumnos_por_universidad_geo.estudiantes_total

df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

df_alumnos_por_universidad_geo.to_csv("data/output/alumnos_por_universidad_geo.csv", encoding = "UTF8", index = False)

In [2017]:
df_evolucion_universidades = df_alumnos_por_universidad_geo.groupby(["anio","provincia_id", "carrera_grupo"]).sum()
#df_evolucion_universidades = df_evolucion_universidades[df_universidades_merged]
df_evolucion_universidades = df_evolucion_universidades.reset_index()

In [2018]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [2019]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [2020]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [2021]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,level_0,index,lat,lon,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct,estudiantes_grupo_pct
0,2011,2.0,Arquitectura y Urbanismo,166256,166256,-1037.912109,-1751.786643,22156.0,11274.0,10882.0,3697.0,1793.0,1904.0,1304.0,633.0,671.0,0.491154,14.906073,13.355206,0.031802
1,2011,2.0,Artes,714222,714222,-3806.283120,-6423.356423,28116.0,9760.0,18356.0,6537.0,2453.0,4084.0,810.0,270.0,540.0,0.652867,42.558890,36.603461,0.040357
2,2011,2.0,Comunicacion,1227479,1227479,-7093.307237,-11970.448285,50809.0,18719.0,32090.0,10951.0,4242.0,6709.0,3811.0,1174.0,2637.0,0.631581,88.484257,66.609315,0.072930
3,2011,2.0,Diseño,332543,332543,-1868.512980,-3153.466283,30984.0,9342.0,21642.0,6682.0,1995.0,4687.0,1740.0,438.0,1302.0,0.698490,24.346558,16.267825,0.044474
4,2011,2.0,Economicas,1686778,1686778,-10137.122481,-17109.708281,111434.0,57606.0,53828.0,22429.0,11747.0,10682.0,8693.0,4439.0,4254.0,0.483048,100.115797,151.333689,0.159951

In [2022]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [2023]:
# Evolucion por carrera por universdad
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","Carrera_normalizada","institucion_nombre_new"]).sum()
#df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total
df_evolucion_carrera_universidad = df_evolucion_carrera_universidad.reset_index()

df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)
df_evolucion_carrera_universidad.head(10)

,anio,carrera_grupo,Carrera_normalizada,institucion_nombre_new,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct
0,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Abierta Interamericana,414.0,250.0,164.0,96.0,58.0,38.0,318.0,192.0,126.0,18.0,14.0,4.0,0.396135,0.395833,0.603865
1,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Argentina John F. Kennedy,305.0,208.0,97.0,35.0,23.0,12.0,270.0,185.0,85.0,7.0,5.0,2.0,0.318033,0.342857,0.681967
2,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Blas Pascal,307.0,173.0,134.0,70.0,41.0,29.0,237.0,132.0,105.0,33.0,18.0,15.0,0.436482,0.414286,0.563518
3,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Cordoba,575.0,216.0,359.0,101.0,32.0,69.0,474.0,184.0,290.0,90.0,34.0,56.0,0.624348,0.683168,0.375652
4,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de La Plata,332.0,172.0,160.0,69.0,34.0,35.0,263.0,138.0,125.0,27.0,12.0,15.0,0.481928,0.507246,0.518072
5,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Salta,584.0,237.0,347.0,128.0,45.0,83.0,456.0,192.0,264.0,32.0,5.0,27.0,0.594178,0.648438,0.405822
6,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Santa Fe,768.0,421.0,347.0,145.0,72.0,73.0,623.0,349.0,274.0,43.0,22.0,21.0,0.451823,0.503448,0.548177
7,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de Cordoba,7309.0,3495.0,3814.0,997.0,464.0,533.0,6276.0,3018.0,3258.0,486.0,201.0,285.0,0.521822,0.534604,0.478178
8,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de La Plata,7706.0,4428.0,3278.0,1006.0,546.0,460.0,6669.0,3876.0,2793.0,297.0,157.0,140.0,0.425383,0.457256,0.574617
9,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de La Rioja,1011.0,607.0,404.0,126.0,76.0,50.0,885.0,531.0,354.0,30.0,7.0,23.0,0.399604,0.396825,0.600396

## ETL Markers de universidades

In [2024]:
def crear_universidad(mapa,latitud, longitud, universidad_nombre, carreras_grupos):
    """ Pone una universidad en el mapa con información en el marker.

    Args:
        latitud (float):
        longitud (float):
        universidad_nombre (str):
        carreras_grupos (list):
    """

In [2025]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in set(grupos_carreras) if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [2026]:
serie_lista_grupos = df_universidades_merged.groupby("institucion_nombre_unidad_academica")["carrera_grupo"].apply(concatenate_map)
serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_unidad_academica")["carrera_titulo"].apply(concatenate_map)

In [2027]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)
df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [2028]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)