# ETL

In [1846]:
import pandas as pd
import os
from scripts.georef import add_unidades_territoriales_to_df

## Carga de inputs

In [1847]:
df_alumnos = pd.read_csv('data/input/alumnos.csv',delimiter=',')
df_carreras = pd.read_csv('data/input/carreras.csv',delimiter=',')

if os.path.exists('data/output/universidades.csv'):
    df_universidades = pd.read_csv('data/output/universidades.csv',delimiter=',',dtype={"provincia_id":str})
else:
    df_universidades_raw = pd.read_csv('data/input/universidades.csv',delimiter=',')
    df_universidades_raw["lat"] = df_universidades_raw['coordenadas'].str.split(",").str[0]
    df_universidades_raw["lon"] = df_universidades_raw['coordenadas'].str.split(",").str[1]
    df_universidades = add_unidades_territoriales_to_df(df_universidades_raw, lat_col="lat", lon_col="lon")
    df_universidades.to_csv('data/output/universidades.csv', sep=',', encoding='utf8', index=False)

Consultando lat: -36.4494181, lon: -57.7686044
Consultando lat: -34.6021735, lon: -58.3972997
Consultando lat: -34.6028340446427, lon: -58.368183272295
Consultando lat: -31.4337174, lon: -64.2779779
Consultando lat: -34.5547176, lon: -58.4972877
Consultando lat: -31.4421202, lon: -64.2033758
Consultando lat: -34.5951617, lon: -58.4021427
Consultando lat: -34.6142528, lon: -58.371724
Consultando lat: -34.6196133, lon: -58.4382653
Consultando lat: -34.567895, lon: -58.4361568
Consultando lat: -34.6030978, lon: -58.3739408
Consultando lat: -34.57439170160686, lon: -58.43650022052455
Consultando lat: -32.9512965, lon: -60.6460659
Consultando lat: -34.5997447, lon: -58.3934405
Consultando lat: -34.6071979, lon: -58.4291149
Consultando lat: -34.5809241, lon: -58.4253568
Consultando lat: -34.6307959, lon: -58.4656187
Consultando lat: -32.9415838, lon: -60.6705633
Consultando lat: -34.6097284, lon: -58.4079993
Consultando lat: -34.5946906, lon: -58.4018519
Consultando lat: -34.5945248, lon: -58.469703
Consultando lat: -39.0178878, lon: -67.5960898
Consultando lat: -34.5453018, lon: -58.4519636
Consultando lat: -34.6148453, lon: -58.3668853
Consultando lat: -34.6148113, lon: -58.3940258
Consultando lat: -34.6221199173329, lon:  -58.379325181549746
Consultando lat: -32.0759594, lon: -60.4665987
Consultando lat: -34.6173746323554, lon: -58.381525671564
Consultando lat: -34.60762266844467, lon: -58.38645625343852
Consultando lat: -37.1552476, lon: -57.7427199
Consultando lat: -34.47094214462022, lon:  -58.847032888622834
Consultando lat: -32.0752125, lon: -61.5334031
Consultando lat: -34.59603749231513, lon: -58.39193924933041
Consultando lat: -34.608865810462795, lon: -58.378716306442456
Consultando lat: -31.4527657, lon: -64.2513093
Consultando lat: -31.5403667, lon: -68.5882198
Consultando lat: -34.924457391060656, lon:  -57.950327388915824
Consultando lat: -27.3558553, lon: -55.9417525
Consultando lat: -24.7399552, lon: -65.3940334
Consultando lat: -31.607095036472234, lon:  -60.67088878632154
Consultando lat: -34.46911816523541, lon: -58.51514668806574
Consultando lat: -33.8848483, lon: -67.5266833
Consultando lat: -34.564446626972675, lon: -58.44400348234273
Consultando lat: -34.59971093266858, lon: -58.37308898582941
Consultando lat: -34.5982797695651, lon: -58.3869599869626
Consultando lat: -32.4815741, lon: -58.2318849
Consultando lat: -34.6021519, lon: -58.3890774
Consultando lat: -34.6274699, lon: -58.4589968
Consultando lat: -27.3750927, lon: -55.9028806
Consultando lat: -34.6050036, lon: -58.3788407
Consultando lat: -38.00719142806125, lon: -57.563677285266195
Consultando lat: -34.60965001204205, lon:  -58.398471321349234
Consultando lat: -32.8916714, lon: -68.8635323
Consultando lat: -34.64724004619001, lon:  -58.61977592468715
Consultando lat: -34.5972849453752, lon: -58.41576251085405
Consultando lat: -34.4461156, lon: -58.5321377
Consultando lat: -34.4617796, lon: -58.5203287
Consultando lat: -32.889702977248035, lon: -68.836339205674
Consultando lat: -34.598493489787174, lon: -58.37246198342438
Consultando lat: -32.9565784932488, lon: -60.6441042488731
Consultando lat: -34.617846, lon: -58.3728309
Consultando lat: -34.597041549129365, lon: -58.37693167637579
Consultando lat: -34.9072705, lon: -57.9504423
Consultando lat: -34.6047031, lon: -58.3922666
Consultando lat: -26.832849, lon: -65.2075185
Consultando lat: -34.5994421892955, lon: -58.3896679387133
Consultando lat: -31.3279965, lon: -64.2286782
Consultando lat: -34.614872720152945, lon:  -58.39167679293044
Consultando lat: -27.3706143, lon: -55.9352656
Consultando lat: -34.6139929, lon: -58.3804476
Consultando lat: -32.95403678084001, lon: -68.83214028295434
Consultando lat: -34.61053895477871, lon: -58.44103541301811
Consultando lat: -34.6058, lon: -58.3979779
Consultando lat: -34.7751429, lon: -58.2701046
Consultando lat: -34.72925803087015, lon: -58.263119285544974
Consultando lat: -28.459001, lon: -65.7854021
Consultando lat: -29.1565622, lon: -67.4730232
Consultando lat: -31.4354809, lon: -64.1877589
Consultando lat: -32.8807275, lon: -68.8801746
Consultando lat: -31.624005177104273, lon: -58.50507853279984
Consultando lat: -26.1921994, lon: -58.2024444
Consultando lat: -34.492332720554565, lon:  -58.664685936227905
Consultando lat: -34.6174248, lon: -58.6369253
Consultando lat: -24.1826176, lon: -65.3203807
Consultando lat: -34.67069602536431, lon: -58.5625432692672
Consultando lat: -36.1446255, lon: -64.5963517
Consultando lat: -46.4336028, lon: -67.5229963
Consultando lat: -42.91147305328778, lon: -71.32234601161547
Consultando lat: -34.89439984475497, lon: -57.97717980074897
Consultando lat: -29.4298962, lon: -66.8709593
Consultando lat: -34.7355208, lon: -58.3932694
Consultando lat: -34.6094209, lon: -58.4066206
Consultando lat: -34.7765037, lon: -58.4591023
Consultando lat: -34.5774091, lon: -59.0909557
Consultando lat: -38.0057920156254, lon: -57.5715790666085
Consultando lat: -27.3996326, lon: -55.9256125
Consultando lat: -34.6525807, lon: -58.7791501
Consultando lat: -34.7064966, lon: -58.2807187
Consultando lat: -31.2511417, lon: -61.5046662
Consultando lat: -33.084594014186514, lon: -64.3349444221352
Consultando lat: -39.0279881065646, lon:  -67.58044691129079
Consultando lat: -32.950309649805945, lon: -60.636126952347716
Consultando lat: -24.7280281, lon: -65.4114867
Consultando lat: -31.5354691, lon: -68.5412352
Consultando lat: -33.2962223, lon: -66.3441194
Consultando lat: -34.550664100769964, lon: -58.441134539431594
Consultando lat: -27.8014246, lon: -64.2531763
Consultando lat: -54.81888630058655, lon:  -68.32552591092275
Consultando lat: -34.6050318, lon: -58.5665275
Consultando lat: -26.8363912, lon: -65.2133295
Consultando lat: -32.3995102, lon: -63.2651483
Consultando lat: -33.6865689, lon: -65.4698988
Consultando lat: -37.3285417102325, lon: -59.1380501689951
Consultando lat: -26.8017124, lon: -60.4491146
Consultando lat: -34.59583822943477, lon: -58.393932130303796
Consultando lat: -31.638260020689607, lon:  -60.70559340518095
Consultando lat: -27.4607657, lon: -58.9542543
Consultando lat: -34.861684718919854, lon:  -61.52755638690734
Consultando lat: -34.65254628739099, lon: -58.62119862036371
Consultando lat: -38.67866305629395, lon: -62.29611089500422
Consultando lat: -34.521483660692496, lon: -58.745796901146605
Consultando lat: -34.750524, lon: -58.308108
Consultando lat: -34.61955811945053, lon: -58.37559426109925
Consultando lat: -34.6100495, lon: -58.3908878
Consultando lat: -34.7895235, lon: -58.5231426
Consultando lat: -36.6196788, lon: -62.5506754
Consultando lat: -38.7225345, lon: -62.282452
Consultando lat: -34.61847060349939, lon: -58.45044388901235
Consultando lat: -34.5476972, lon: -58.4489394
Consultando lat: 44.4679091, lon: 11.2955076
Consultando lat: -31.727147, lon:  -60.514132
Consultando lat: -32.896902, lon:  -68.853584
Consultando lat: -31.394245, lon:  -58.012192
Consultando lat: -38.049150, lon:  -57.542411
Consultando lat: -29.146406, lon:  -59.664216
Consultando lat: -32.495728, lon:  -58.229429
Consultando lat: -31.442376, lon:  -64.192642
Consultando lat: -31.616705, lon:  -60.675676
Consultando lat: -32.408926, lon:  -63.218122
Consultando lat: -34.640358, lon:  -58.602258
Consultando lat: -53.786433, lon:  -67.726421
Consultando lat: -31.247815, lon:  -61.471250
Consultando lat: -31.394282, lon:  -58.012407
Consultando lat: -38.922009, lon:  -69.183374
Consultando lat: -31.421165, lon:  -62.110763
Consultando lat: -42.769285, lon:  -65.055430
Consultando lat: -35.985903, lon:  -62.727093
Consultando lat: -38.049167, lon:  -57.542679
Consultando lat: -34.662319, lon:  -58.364673
Consultando lat: -51.634990, lon:  -69.218863
Consultando lat: -33.741112, lon:  -61.948621
Consultando lat: -29.409282, lon:  -66.831225
Consultando lat: -53.786433, lon:  -67.726421
Consultando lat: -26.817167, lon:  -65.198619
Consultando lat: -34.601548, lon:  -68.327778
Consultando lat: -34.904030, lon:  -57.924824
Consultando lat: -29.409282, lon:  -66.831225
Consultando lat: -38.710330, lon:  -62.264573
Consultando lat: -34.456600, lon:  -58.623760
Consultando lat: -34.598712, lon:  -58.420055
Consultando lat: -31.749467, lon:  -60.504221
Consultando lat: -33.332260, lon:  -60.206182

Consultando lat: -32.954580, lon:  -60.644244
Consultando lat: -29.409282, lon:  -66.831225
Consultando lat: -27.451164, lon:  -58.979211
Consultando lat: -34.178845, lon:  -58.962087
Consultando lat: -33.110736, lon:  -64.299507
Consultando lat: -31.624005177104273, lon: -58.50507853279984
Consultando lat: -40.824221, lon:  -62.978906
Consultando lat: -31.435579, lon:  -64.174509
Consultando lat: -23.519824, lon:  -46.672244
Consultando lat: -34.257332, lon:  -59.479764

In [1848]:
# quitamos los datos del año 2010 ya que la UBA no entrega datos para este año
# si se desean incluir en en análisis tener en cuenta que va a haber una bajada en las cantidades totales para ese año, debido a eso
df_alumnos = df_alumnos[df_alumnos.anio != 2010]

## Exporacion

In [1849]:
df_carreras.head(10)

,carrera,carrera_grupo,Carrera_normalizada
0,Abogado,Juridicas,Abogacia
1,Abogado - Ciclo de Complementacion Curricular,Juridicas,Abogacia
2,Abogado - MD,Juridicas,Abogacia
3,Abogado (Plan 2017),Juridicas,Abogacia
4,Abogado Especialista en Administracion de Just...,Juridicas,Abogacia
5,Abogado especialista en Asesoramiento de Empresas,Juridicas,Abogacia
6,Abogado Especialista en Asesoria Juridica de E...,Juridicas,Abogacia
7,Abogado Especialista en Contratos y Derechos d...,Juridicas,Abogacia
8,Abogado especialista en Derecho Administrativo...,Juridicas,Abogacia
9,Abogado Especialista en Derecho Administrativo...,Juridicas,Abogacia

In [1850]:
df_alumnos.head(10)

,anio,institucion_tipo,institucion_nombre,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
7315,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,54.0,30.0,13.0,17.0,NaN,NaN,NaN,29.0,14.0,15.0
7316,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,10.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7317,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,39.0,23.0,10.0,13.0,49.0,23.0,26.0,6.0,4.0,2.0
7318,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,18.0,15.0,12.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
7319,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,71.0,35.0,13.0,22.0,75.0,26.0,49.0,28.0,7.0,21.0
7320,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Estudios Internacionales,Privada,Posgrado,...,100.0,34.0,15.0,19.0,NaN,NaN,NaN,9.0,5.0,4.0
7321,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Licenciatura en Economia,Privada,Grado,...,49.0,42.0,28.0,14.0,117.0,82.0,35.0,36.0,24.0,12.0
7322,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Econometria,Privada,Posgrado,...,18.0,12.0,9.0,3.0,NaN,NaN,NaN,1.0,NaN,1.0
7323,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Economia,Privada,Posgrado,...,14.0,25.0,20.0,5.0,NaN,NaN,NaN,2.0,2.0,NaN
7324,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Historia,Departamento de Historia,Doctor en Historia,Privada,Posgrado,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [1851]:
df_universidades.head(10)

,universidad_nombre,institucion_nombre,institucion_direccion,api,coordenadas,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,latitud_x,longitud_x,departamento_id_y,departamento_nombre_y,municipio_id_y,municipio_nombre_y,provincia_id_y,provincia_nombre_y,latitud_y,longitud_y
0,Escuela Universitaria de Teologia,Escuela Universitaria de Teologia,Pasaje Catedral 1750,NaN,"-36.4494181,-57.7686044",NaN,NaN,NaN,NaN,NaN,...,-36.449418,-57.768604,06238,Dolores,060238,Dolores,06,Buenos Aires,-36.4494181,-57.7686044
1,Facultad Latinoamericana de Ciencias Sociales,Facultad Latinoamericana de Ciencias Sociales,Tucuman 1966,NaN,"-34.6021735,-58.3972997",NaN,NaN,NaN,NaN,NaN,...,-34.602173,-58.397300,02021,Comuna 3,None,None,02,Ciudad Autónoma de Buenos Aires,-34.6021735,-58.3972997
2,Instituto Tecnologico de Buenos Aires,Instituto Tecnologico de Buenos Aires,Av. Eduardo Madero 399,http://apis.datos.gob.ar/georef/api/direccione...,"-34.6028340446427,-58.368183272295",NaN,NaN,NaN,NaN,NaN,...,-34.602834,-58.368183,02007,Comuna 1,None,None,02,Ciudad Autónoma de Buenos Aires,-34.6028340446427,-58.368183272295
3,Instituto Universitario Aeronautico,Instituto Universitario Aeronautico,Av. Fuerza Aerea Argentina 6500,http://apis.datos.gob.ar/georef/api/direccione...,"-31.4337174,-64.2779779",NaN,NaN,NaN,NaN,NaN,...,-31.433717,-64.277978,14014,Capital,140077,Córdoba,14,Córdoba,-31.4337174,-64.2779779
4,Instituto Universitario CEMIC,Instituto Universitario CEMIC,Valdenegro 4337,NaN,"-34.5547176,-58.4972877",NaN,NaN,NaN,NaN,NaN,...,-34.554718,-58.497288,02084,Comuna 12,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5547176,-58.4972877
5,Instituto Universitario de Ciencias Biomedicas...,Instituto Universitario de Ciencias Biomedicas...,Naciones Unidas 400-440,NaN,"-31.4421202,-64.2033758",NaN,NaN,NaN,NaN,NaN,...,-31.442120,-64.203376,14014,Capital,140077,Córdoba,14,Córdoba,-31.4421202,-64.2033758
6,Instituto Universitario de Ciencias de la Salu...,Instituto Universitario de Ciencias de la Salu...,Av. Gral. Las Heras 1907,NaN,"-34.5951617,-58.4021427",NaN,NaN,NaN,NaN,NaN,...,-34.595162,-58.402143,02014,Comuna 2,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5951617,-58.4021427
7,Instituto Universitario de Gendarmeria Nacional,Instituto Universitario de Gendarmeria Nacional,Av. Paseo Colon 533,NaN,"-34.6142528,-58.371724",NaN,NaN,NaN,NaN,NaN,...,-34.614253,-58.371724,02007,Comuna 1,None,None,02,Ciudad Autónoma de Buenos Aires,-34.6142528,-58.371724
8,Instituto Universitario de la Policia Federal ...,Instituto Universitario de la Policia Federal ...,Rosario 532,NaN,"-34.6196133,-58.4382653",NaN,NaN,NaN,NaN,NaN,...,-34.619613,-58.438265,02042,Comuna 6,None,None,02,Ciudad Autónoma de Buenos Aires,-34.6196133,-58.4382653
9,Instituto Universitario de Salud Mental de la ...,Instituto Universitario de Salud Mental de la ...,Baez 248,NaN,"-34.567895,-58.4361568",NaN,NaN,NaN,NaN,NaN,...,-34.567895,-58.436157,02098,Comuna 14,None,None,02,Ciudad Autónoma de Buenos Aires,-34.567895,-58.4361568

## Calculo evolucion de genero en carreras

In [1852]:
#El archivo alumnos es el que entrega el ministerio
#En el archivo carreras realizamos nuestro mapeo asignandole a cada titulo un grupo (Juridicas, Exactas, Naturales, etc) y un nombre normalizado 
df_alumnos_merged = df_alumnos.merge(df_carreras, how="left", left_on="carrera_titulo", right_on="carrera")

In [1853]:
#Incluimos esta validacion aqui para asegurarnos de que no queden carreras sin mappear
col_nulls = df_alumnos_merged.isnull().any()
col_nulls

anio                                   False
institucion_tipo                       False
institucion_nombre                     False
institucion_nombre_new                 False
institucion_nombre_unidad_academica    False
unidad_academica                       False
unidad_academica_new                   False
carrera_titulo                         False
institucion_gestion                    False
carrera_titulo_nivel                   False
Modalidad                              False
estudiantes_total                       True
estudiantes_varones                     True
estudiantes_mujeres                     True
nuevos_inscriptos_total                 True
nuevos_inscriptos_varones               True
nuevos_inscriptos_mujeres               True
reinscriptos_total                      True
reinscriptos_varones                    True
reinscriptos_mujeres                    True
egresados_total                         True
egresados_varones                       True
egresados_mujeres                       True
carrera                                False
carrera_grupo                          False
Carrera_normalizada                     True
dtype: bool

## Validacion y solucion de inconsistencias

In [1854]:
df_alumnos_merged.carrera_grupo.isnull().value_counts()
# No debería haber Nulls en True ya que eso quiere decir que no se pudo matchear el nombre del titulo entre alumnos.csv y carreras.csv
# Este caso solo debería darse si, por ejemplo, se agrega un nuevo año con carreras "nuevas" o con nombres un poco diferentes a los que teníamos hasta el momento

False    65662
Name: carrera_grupo, dtype: int64

In [1855]:
#Si hubiera inconsistencias las guardamos en este archivo para analizar más comodamente
nulos = df_alumnos_merged[df_alumnos_merged.carrera_grupo.isnull()]
nulos.to_csv("data/validacion/nulls-revisar.csv", encoding = "UTF8", index = False)
titulos_nuevos = pd.DataFrame(data=nulos.carrera_titulo.unique())
titulos_nuevos.to_csv("data/validacion/titulos_nuevos.csv", encoding = "UTF8", index = False)

In [1856]:
variables = [
    "estudiantes_total","estudiantes_varones","estudiantes_mujeres",
    "nuevos_inscriptos_total","nuevos_inscriptos_varones","nuevos_inscriptos_mujeres",
    "egresados_total","egresados_varones","egresados_mujeres",
]

In [1857]:
df_evolucion_carrera = df_alumnos_merged.groupby(["anio","carrera_grupo"]).sum()

In [1858]:
df_evolucion_carrera = df_evolucion_carrera[variables]
df_evolucion_carrera = df_evolucion_carrera.reset_index()

In [1859]:
df_evolucion_carrera.head(10)

,anio,carrera_grupo,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres
0,2011,Arquitectura y Urbanismo,60303.0,31217.0,29086.0,9743.0,4859.0,4884.0,3064.0,1412.0,1652.0
1,2011,Artes,53170.0,22164.0,31006.0,13305.0,6016.0,7289.0,1418.0,503.0,915.0
2,2011,Comunicacion,113474.0,40764.0,72710.0,25473.0,9914.0,15559.0,7104.0,2141.0,4963.0
3,2011,Diseño,52552.0,18574.0,33978.0,11127.0,3813.0,7314.0,2826.0,820.0,2006.0
4,2011,Economicas,318405.0,149696.0,168709.0,67062.0,33017.0,34045.0,19059.0,8970.0,10089.0
5,2011,Educacion,139802.0,32933.0,106869.0,42465.0,10907.0,31558.0,8611.0,1814.0,6797.0
6,2011,Exactas,23899.0,11515.0,12384.0,5491.0,2516.0,2975.0,1479.0,633.0,846.0
7,2011,"Hoteleria, Gastronomia y Turismo",25790.0,8221.0,17569.0,6917.0,2395.0,4522.0,1513.0,364.0,1149.0
8,2011,Informatica,163968.0,132685.0,31283.0,37090.0,30891.0,6199.0,7554.0,5702.0,1852.0
9,2011,Ingenieria,124298.0,101296.0,23002.0,25854.0,20815.0,5039.0,5885.0,4682.0,1203.0

In [1860]:
df_evolucion_carrera["estudiantes_mujeres_pct"] = df_evolucion_carrera.estudiantes_mujeres/df_evolucion_carrera.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera["inscripciones_mujeres_pct"] = df_evolucion_carrera.nuevos_inscriptos_mujeres/df_evolucion_carrera.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera["estudiantes_hombres_pct"] = df_evolucion_carrera.estudiantes_varones/df_evolucion_carrera.estudiantes_total

In [1861]:
df_evolucion_carrera.to_csv("data/output/grupos_evolucion_genero.csv", encoding = "UTF8", index = False)

## Grafico exploratorio

### carreras

In [1862]:
df_evolucion_carrera_carreras = df_alumnos_merged.groupby(["anio","carrera_grupo","Carrera_normalizada"]).sum()

In [1863]:
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras[variables]
df_evolucion_carrera_carreras = df_evolucion_carrera_carreras.reset_index()

In [1864]:
df_evolucion_carrera_carreras["estudiantes_mujeres_pct"] = df_evolucion_carrera_carreras.estudiantes_mujeres/df_evolucion_carrera_carreras.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_carreras["inscripciones_mujeres_pct"] = df_evolucion_carrera_carreras.nuevos_inscriptos_mujeres/df_evolucion_carrera_carreras.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_carreras["estudiantes_hombres_pct"] = df_evolucion_carrera_carreras.estudiantes_varones/df_evolucion_carrera_carreras.estudiantes_total

In [1865]:
df_evolucion_carrera_carreras.to_csv("data/output/grupos_carreras_evolucion_genero.csv", encoding = "UTF8", index = False)

# Universidades

In [1866]:
import csv


# acá analizo la nueva clave "institucion_nombre_unidad_academica" para los casos en los que (como la UTN) hay diferentes sedes
instituciones_en_alumnos = set(df_alumnos_merged.institucion_nombre_unidad_academica.unique())
instituciones_en_universidades = set(df_universidades.institucion_nombre.unique())

# chequea si hay instituciones faltantes para el merge (no debería haber)
faltantes = (instituciones_en_alumnos-instituciones_en_universidades)

with open('data/validacion/universidades_faltantes.csv', mode='w', encoding = "UTF8") as faltantes_file:
    faltantes_writer = csv.writer(faltantes_file, delimiter=',')
    for universidad in faltantes:
        print(universidad)
        faltantes_writer.writerow([universidad])

In [1867]:
df_alumnos_por_universidad_geo = df_alumnos_merged.merge(df_universidades, how="left", left_on="institucion_nombre_unidad_academica", right_on="institucion_nombre")

df_alumnos_por_universidad_geo.head(10)

,anio,institucion_tipo,institucion_nombre_x,institucion_nombre_new,institucion_nombre_unidad_academica,unidad_academica,unidad_academica_new,carrera_titulo,institucion_gestion,carrera_titulo_nivel,...,latitud_x,longitud_x,departamento_id_y,departamento_nombre_y,municipio_id_y,municipio_nombre_y,provincia_id_y,provincia_nombre_y,latitud_y,longitud_y
0,2011,Universidad,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Universita Degli Studi di Bologna,Università Degli Studi di Bologna,Università Degli Studi di Bologna,Magister en Relaciones Internacionales Europa ...,Privada,Posgrado,...,44.467909,11.295508,None,None,None,None,None,None,44.4679091,11.2955076
1,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Doctor en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
2,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Ciencia Politica y Gobierno,Privada,Grado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
3,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Ciencia Politica,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
4,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Licenciatura en Estudios Internacionales,Privada,Grado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
5,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Ciencia Politica y Estudios In...,Departamento de Ciencia Politica y Estudios In...,Magister en Estudios Internacionales,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
6,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Licenciatura en Economia,Privada,Grado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
7,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Econometria,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
8,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Economia,Departamento de Economia,Magister en Economia,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394
9,2011,Universidad,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Universidad Torcuato Di Tella,Departamento de Historia,Departamento de Historia,Doctor en Historia,Privada,Posgrado,...,-34.547697,-58.448939,02091,Comuna 13,None,None,02,Ciudad Autónoma de Buenos Aires,-34.5476972,-58.4489394

In [1868]:
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

variables_alumnos_por_univ = ['anio','institucion_nombre_unidad_academica', 'lat', 'lon', 'provincia_id_y', "carrera_grupo", "carrera_titulo"] + variables
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo[variables_alumnos_por_univ]
df_alumnos_por_universidad_geo.rename(columns={'provincia_id_y':'provincia_id'}, inplace=True)
df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

df_alumnos_por_universidad_geo["estudiantes_mujeres_pct"] = df_alumnos_por_universidad_geo.estudiantes_mujeres/df_alumnos_por_universidad_geo.estudiantes_total
#incriptas como predictor de composicion e interes.
df_alumnos_por_universidad_geo["inscripciones_mujeres_pct"] = df_alumnos_por_universidad_geo.nuevos_inscriptos_mujeres/df_alumnos_por_universidad_geo.nuevos_inscriptos_total
#agregar ratio de hombres
df_alumnos_por_universidad_geo["estudiantes_hombres_pct"] = df_alumnos_por_universidad_geo.estudiantes_varones/df_alumnos_por_universidad_geo.estudiantes_total

df_alumnos_por_universidad_geo = df_alumnos_por_universidad_geo.reset_index()

df_alumnos_por_universidad_geo.to_csv("data/output/alumnos_por_universidad_geo.csv", encoding = "UTF8", index = False)

In [1869]:
df_evolucion_universidades = df_alumnos_por_universidad_geo.groupby(["anio","provincia_id", "carrera_grupo"]).sum()
#df_evolucion_universidades = df_evolucion_universidades[df_universidades_merged]
df_evolucion_universidades = df_evolucion_universidades.reset_index()

In [1870]:
df_evolucion_universidades["estudiantes_mujeres_pct"] = df_evolucion_universidades.estudiantes_mujeres/df_evolucion_universidades.estudiantes_total

In [1871]:
estudiantes_totales = df_evolucion_universidades.groupby(["anio", 'provincia_id']).sum()["estudiantes_total"]

In [1872]:
df_evolucion_universidades['estudiantes_grupo_pct'] = df_evolucion_universidades.apply(
    lambda row: row["estudiantes_total"] / estudiantes_totales[row["anio"], row["provincia_id"]],
    axis=1
)

In [1873]:
df_evolucion_universidades.head()

,anio,provincia_id,carrera_grupo,level_0,index,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct,estudiantes_grupo_pct
0,2011,02,Arquitectura y Urbanismo,166256,166256,22156.0,11274.0,10882.0,3697.0,1793.0,1904.0,1304.0,633.0,671.0,0.491154,14.906073,13.355206,0.031802
1,2011,02,Artes,714222,714222,28116.0,9760.0,18356.0,6537.0,2453.0,4084.0,810.0,270.0,540.0,0.652867,42.558890,36.603461,0.040357
2,2011,02,Comunicacion,1227479,1227479,50809.0,18719.0,32090.0,10951.0,4242.0,6709.0,3811.0,1174.0,2637.0,0.631581,88.484257,66.609315,0.072930
3,2011,02,Diseño,332543,332543,30984.0,9342.0,21642.0,6682.0,1995.0,4687.0,1740.0,438.0,1302.0,0.698490,24.346558,16.267825,0.044474
4,2011,02,Economicas,1686778,1686778,111434.0,57606.0,53828.0,22429.0,11747.0,10682.0,8693.0,4439.0,4254.0,0.483048,100.115797,151.333689,0.159951

In [1874]:
df_evolucion_universidades.to_csv("data/output/ubicacion_evolucion_genero.csv", encoding = "UTF8", index = False)

In [1875]:
# Evolucion por carrera por universdad
df_evolucion_carrera_universidad = df_alumnos_merged.groupby(["anio","carrera_grupo","Carrera_normalizada","institucion_nombre_new"]).sum()
#df_evolucion_carrera_universidad = df_evolucion_carrera[variables]
df_evolucion_carrera_universidad["estudiantes_mujeres_pct"] = df_evolucion_carrera_universidad.estudiantes_mujeres/df_evolucion_carrera_universidad.estudiantes_total
#incriptas como predictor de composicion e interes.
df_evolucion_carrera_universidad["inscripciones_mujeres_pct"] = df_evolucion_carrera_universidad.nuevos_inscriptos_mujeres/df_evolucion_carrera_universidad.nuevos_inscriptos_total
#agregar ratio de hombres
df_evolucion_carrera_universidad["estudiantes_hombres_pct"] = df_evolucion_carrera_universidad.estudiantes_varones/df_evolucion_carrera_universidad.estudiantes_total
df_evolucion_carrera_universidad = df_evolucion_carrera_universidad.reset_index()

df_evolucion_carrera_universidad.to_csv("data/output/carreras_universidad_evolucion_genero.csv", encoding = "UTF8", index = False)
df_evolucion_carrera_universidad.head(10)

,anio,carrera_grupo,Carrera_normalizada,institucion_nombre_new,estudiantes_total,estudiantes_varones,estudiantes_mujeres,nuevos_inscriptos_total,nuevos_inscriptos_varones,nuevos_inscriptos_mujeres,reinscriptos_total,reinscriptos_varones,reinscriptos_mujeres,egresados_total,egresados_varones,egresados_mujeres,estudiantes_mujeres_pct,inscripciones_mujeres_pct,estudiantes_hombres_pct
0,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Abierta Interamericana,414.0,250.0,164.0,96.0,58.0,38.0,318.0,192.0,126.0,18.0,14.0,4.0,0.396135,0.395833,0.603865
1,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Argentina John F. Kennedy,305.0,208.0,97.0,35.0,23.0,12.0,270.0,185.0,85.0,7.0,5.0,2.0,0.318033,0.342857,0.681967
2,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Blas Pascal,307.0,173.0,134.0,70.0,41.0,29.0,237.0,132.0,105.0,33.0,18.0,15.0,0.436482,0.414286,0.563518
3,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Cordoba,575.0,216.0,359.0,101.0,32.0,69.0,474.0,184.0,290.0,90.0,34.0,56.0,0.624348,0.683168,0.375652
4,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de La Plata,332.0,172.0,160.0,69.0,34.0,35.0,263.0,138.0,125.0,27.0,12.0,15.0,0.481928,0.507246,0.518072
5,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Salta,584.0,237.0,347.0,128.0,45.0,83.0,456.0,192.0,264.0,32.0,5.0,27.0,0.594178,0.648438,0.405822
6,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Catolica de Santa Fe,768.0,421.0,347.0,145.0,72.0,73.0,623.0,349.0,274.0,43.0,22.0,21.0,0.451823,0.503448,0.548177
7,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de Cordoba,7309.0,3495.0,3814.0,997.0,464.0,533.0,6276.0,3018.0,3258.0,486.0,201.0,285.0,0.521822,0.534604,0.478178
8,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de La Plata,7706.0,4428.0,3278.0,1006.0,546.0,460.0,6669.0,3876.0,2793.0,297.0,157.0,140.0,0.425383,0.457256,0.574617
9,2011,Arquitectura y Urbanismo,Arquitectura,Universidad Nacional de La Rioja,1011.0,607.0,404.0,126.0,76.0,50.0,885.0,531.0,354.0,30.0,7.0,23.0,0.399604,0.396825,0.600396

## ETL Markers de universidades

In [1876]:
def crear_universidad(mapa,latitud, longitud, universidad_nombre, carreras_grupos):
    """ Pone una universidad en el mapa con información en el marker.

    Args:
        latitud (float):
        longitud (float):
        universidad_nombre (str):
        carreras_grupos (list):
    """

In [1877]:
def concatenate_map(grupos_carreras):
    grupos_str = [str(grupo) for grupo in set(grupos_carreras) if pd.notnull(grupo)]
    return ",".join(grupos_str)

In [1878]:
serie_lista_grupos = df_universidades_merged.groupby("institucion_nombre_unidad_academica")["carrera_grupo"].apply(concatenate_map)
serie_lista_carrera = df_universidades_merged.groupby("institucion_nombre_unidad_academica")["carrera_titulo"].apply(concatenate_map)

In [1879]:
df_ubicacion_universidades_grupos = df_universidades.merge(
    serie_lista_grupos, how="left", left_on="institucion_nombre", right_index=True)
df_ubicacion_universidades_grupos = df_ubicacion_universidades_grupos.merge(
    serie_lista_carrera, how="left", left_on="institucion_nombre", right_index=True)

In [1880]:
df_ubicacion_universidades_grupos.to_csv("data/output/universidades_mapa.csv", encoding = "UTF8", index = False)